@import '../../assets/css/import';

.order-slip {
  padding: 20px 30px;
  min-width: 1080px;
  margin-top: 0;
  margin-bottom: auto;
  .tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .title-part {
      display: flex;
      align-items: end;
      gap: 20px;

      &__date {
        display: flex;
        gap: 15px;

        &__each {
          display: flex;
          align-items: end;
          gap: 5px;

          p {
            font-size: 20px;
          }
        }
      }
    }

    .arrow-button-group {
      display: flex;
      gap: 10px;
    }

    .action-btn {
      display: flex;
      gap: 10px;
    }
  }

  .slip-body {
    .common {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      .common-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.5;
        padding-bottom: 10px;
        &__title {
          width: 150px;
        }

        &__small {
          display: flex;
          align-items: center;
          &__title-first {
            width: 150px;
          }

          &__title {
            width: 100px;
          }

          &__input-left {
            width: 150px;
            display: flex;
            flex: 1 1 0%;
            flex-shrink: 0;
            padding: 0 4px;
            border: 1px solid gray;
          }
          &__input-left-date {
            width: 150px;
            .MuiOutlinedInput-root {
              border-radius: 0px;
            }
          }
        }
        &__alert {
          color: red;
          padding-left: 150px;
          font-size: 16px;
        }
      }
      &__right {
        .common-item {
          justify-content: start;
          gap: 20px;
        }
        .check-control {
          height: 34px;
          width: 150px;
        }
      }
    }
    .slip-content {
      // max-width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}